* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: var(--font-body);
    /* font-weight: lighter; */
    letter-spacing: 3px;
    text-transform: Uppercase;
    margin-top: 60px;
}

h1 {
    color: black;
    font-family: var(--font-body);
    /* font-weight: lighter; */
    letter-spacing: 3px;
    text-transform: Uppercase;
    font-size: large;
}

h2 {
    color: black;
    font-family: var(--font-body);
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: Uppercase;
    font-size: medium;
}

h3 {
    color: black;
    font-family: var(--font-body);
    font-weight: lighter;
    letter-spacing: 3px;
    text-transform: Uppercase;
    font-size: small;
}

h4 {
    color: black;
    font-family: var(--font-body);
    font-weight: lighter; 
    letter-spacing: 3px;
    text-transform: Uppercase;
    font-size: 10px;
}




/* HEADER */

header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 11px;
    position: fixed;
    top: 0;
}

header a {
    margin: 0px 1em;
    transition: all 0.15s ease;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: rgb(137, 137, 137);
}

.icon-bar{
    padding: 20px 55px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.icon-bar-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.icon-bar-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.icon-bar-center {
    display: flex;
    align-items: center;
    margin-top: 6px;    /* delete after using correct image without extra space on bottom */
}

#home-icon img{
    width: 55px;
}

#location-icon {
    font-size: 17px;
}

#location-icon:hover {
    opacity: 80%;
}




/* Footer */

footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 11px;
}

footer a {
    margin: 18px 1em;
    transition: all 0.15s ease;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer a:hover {
    color: rgb(137, 137, 137);
}

.footer-items{
    padding: 20px 55px;
    display: grid;
    grid-template-columns: auto auto ;
}

.footer-icons-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer-items-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.footer-socials-icons {
    font-size: 13px;
    margin-right: 15px;
}




/* Home page */

#home-separator {
    height: 8em;
}

.home-section-one{
    display: flex;
    justify-content: center;
}

.home-section-two {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.home-section-two-image img {
    height: 700px;
    width: 550px;
    object-fit: cover;
    object-position: 100% 0;
}

.home-section-two-location {
    height: auto;
    width: 550px;
    text-align: center;
}

.home-section-two-location h2, h3, h4{
    margin: 10px 0;
}

.home-section-two-location h2{
    margin-bottom: 18px;
}

.home-button {
    text-decoration: none;
    color: black;
    font-size: smaller;
}



/* About */

.external-h3 {
    text-decoration: none;
    color: black;
}

.external-h3:hover {
    color: rgb(85, 85, 85);
}

#aboutIkhr {
    opacity: 1;
}

#aboutJiujitsu {
    opacity: 1;
}

#aboutFacility {
    opacity: 1;
}

.about-page-sections {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 90px;
    text-align: center;
}

#imgBox {
    display: inline-block;
    overflow: hidden;
}

.about-page-sections img {
    height: 33em;
    width: 22em;
    object-fit: cover;
    object-position: 50% 0;
    transition: 0.5s ease;
    display: block;
}

.about-page-sections img:hover {
    object-fit: cover;
    transform: scale(1.04);
}

#about-facility {
    display: none;
    text-align: center;
}

#about-jiujitsu {
    display: none;
    text-align: center;
}

.main-facility-img {
    display: inline-block;
    overflow: hidden;
}

.main-facility-img img {
    height: 30em;
    width: 77.4em;;
    object-fit: cover;
    object-position: 0 40%;
    transition: 0.5s ease;
    display: block;
}

#facility-title {
    margin: 3em;
}

.about-facility-studio-info {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

#about-separator {
    background-color: black;
    height: 0.05em;
    margin: 0 auto;
    max-width:77.4em;
}

#studio-info-left {
    display: inline-block;
    overflow: hidden;
}

#studio-info-left img{
    height: 400px;
    width: 250px;
    object-fit: cover;

    transition: 0.5s ease;
}

#studio-info-right {
    text-align: center;
    margin: 3.7em;
}

#studio-info-right h2{
    margin-bottom: 2em;
}

#studio-info-right h4{
    margin-top: 2em;
}

#ballers-more-title {
    margin-bottom: 2em;
}

#ballers-more-title-one {
    margin-bottom: 3em;
}

#b-d-c {
    max-width: 100%;
}

#ballers-more-images-three img{
    max-width: auto;
    max-height: 17.82em;
}

.ballers-more-images img {
    max-width: auto;
    max-height: 1000px;
}

.ballers-more-images  {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 77.4em;
}


#jiujitsu-introduction {
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 77.4em;
    margin: 0 auto;
}

.jjImgBox {
    display: inline-block;
    overflow: hidden;
}

.about-two img {
    height: 22em;
    width: 15em;
    object-fit: cover;
    transition: 0.5s ease;
    display: block;
}

#jjInfoBoxes {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

#jjInfoText {
    text-align: left;
    align-items: baseline;
    max-width: 18em;
    margin: 5em;
}

#about-ikhr{
    display: none;
}

#ikhr-introduction {
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 54em;
    margin: 0 auto;
}

#ikhr-title {
    justify-content: center;
    text-align: center;
}

#mission-vision {
    display: grid;
    grid-template-columns: auto 1px auto;
    justify-content: center;
    margin: 10em 0;
}

#mission-text, #vision-text {
    max-width: 18em;
    text-align:justify;
    margin: 0 4em;
}

#mission-text h2, #vision-text h2 {
    text-align: center;
}



#m-v-separator {
    background-color: black;
}






/* Schedule */

#schedule-page {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#schedule {
    display: flex;
    justify-content: center;
    max-width: 30%;
    margin: 0 auto;
}

.schedule-grid {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

.lessons-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 2em;
}

.group-container {
    max-width: 9em;
    align-items: center;
}

.time-container { 
    margin-left: 1em;
}




:root {
    --font-body: "DIN Next", sans-serif;
}